# solution based on session 2

#### Task 2. Try to grab the number 400 using list 
```python
my_list = [[1,2,3],'hello',[7,8,[100,200,300,400]]]
```

In [8]:
my_list = [[1,2,3],'hello',[7,8,[100,200,300,400]]]
print(my_list[1])

hello

#### Task 3 Try to grab the word 'own' from the below string
```python
my_str = "ON my own technology"
```

In [13]:
my_str="ON my own technology"
print(my_str[5:9])

 own

#### Task 4 Replace the 3th item in the list with the string "OMOTEC"
```
my_lst = ["welcome", "to", "on my own technology"]
```

In [15]:
my_lst = ["welcome", "to", "on my own technology"]
my_lst[2]='OMOTEC'
print(my_lst)

['welcome', 'to', 'OMOTEC']

#### 5. Try to grab the word 'C' from the list below
```
my_list = ['O','M','O','T','E','C',]
```

In [16]:
my_list=['O','M','O','T','E','C']
print(my_list[-1])

C

6.Find the position of 55 from list using index
```python
num = [22,33,42,55,61]
```

In [17]:
num=[22,33,42,55,61]
print(num[-2])

55

#### Task 7.Find the position of bat
```
list2 = ['cat', 'bat', 'mat', 'cat', 'pet']
```

In [18]:
list2=['cat','bat','mat','cat','pet']
print(list2[1])

bat

#### Task 8.Use the step parameter to return every third item using the slice:
```
a = ("a", "b", "c", "d", "e", "f", "g", "h")
```

In [23]:
a=("a","b","c","d","e","f","g","h")
print(a[0:8:2])

('a', 'c', 'e', 'g')

#### Task 9.Start the slice object at position 3, and slice to position 5, and return the result:
```
a = ("s","e","n","t","e","n","c","e")
```

In [25]:
a=("s","e","t","e","n","c","e")
print(a[2:6])

('t', 'e', 'n', 'c')