<img src="images/omotec.png" alt="Drawing" style="width: 130px;" align="center"/>

# Session 2 

- Python datatypes
    - Basic datatypes (int, float and bool)
- type() function
- Strings
- Type casting
- Lists
- String and list indexing

<hr style="height:2px;">

##  1) Python datatypes

![title](images/data_types.png)

---
**We will be learning integer, float, boolean and string datatype in this session**

- **integers** are whole numbers (python denotes integers with the keyword `int` )
- **floats** are decimal point numbers (python denotes floats with the keyword `float` )
- **booleans** are datatypes which can hold only 2 values either True or Flase (python denotes Booleans with the keyword `bool` )
- **strings** are a collection of individual characters(python denotes strings with the keyword `str` )

### Basic datatypes (int, float and bool)

In [2]:
a = 10

In the above cell we are assigning the integer value to the variable `a`. So the datatype of variable `a` is `int`<br>
**The variable name can be ay combination of characters as long as it follows the rules for defining variable names we discussed earlier.**<br><br>
Usually when we define variable we name it depending on the value that it is going to hold. This helps us recoganise and remember the variable name later in the code.

In [3]:
my_varibale = 20

In [4]:
no_of_lines = 4

**Since python is dynamically typed, the varibles datatype is determined by the value we assign to it on the right hand side of the assignment operator (`=`)**

---

In [5]:
my_float = 12.12

**In the above line the variable `my_float` is of the type `float` since we are assigning it a decimal point number**

---

In [6]:
my_bool = True
bool_2 = False

**When we assign the value of `True` or `False` to the variabel `my_bool` or `bool_2` they are considered as `bool` datatype by python**<br>
The T and F in True and False should be capital

<hr style="height:2px;">

## 2)  type() function
- Type function is used to check the datatype of the variable declared.
- This fucntion will show the keyword used by the python for that particular datatype
- the type() fucntion returns a string which should be pringted out to see the output

In [19]:
a = 500
print(type(a))

<class 'int'>

In [21]:
b = 500.12
print(type(b))

<class 'float'>

In [1]:
a = True
print(type(a))

<class 'bool'>

In [22]:
mystring = "hello world"
print(mystring)
print(type(mystring))

hello world
<class 'str'>

<hr style="height:2px;">

## 3)  String datatype

**A string is a collection of characters**<br><br>
**In other languages we have a separate datatype called as `char` which stores individual characters**<br>
**In python we can get the same behaviour by defining a string of length 1**<br>

---
In python a string can be defined by enclosing the characters in single double or tripple quotes

In [7]:
my_string1 = 'hello world'

In [9]:
my_string2 = "hello world"

In [10]:
my_string3 = '''hello world'''

The intention behind providing this kind of flexibility is consiidering the cases were we will have to have an actual single or double quote in our sentence<br>
Suppose we want to print the following line ```This is Sam's house```

In [11]:
my_string1 = 'This is Sam's house'

SyntaxError: invalid syntax (<ipython-input-11-6f004d05cb8a>, line 1)

In such cases we use the double quotes

In [12]:
my_string1 = "This is Sam's house"

Whenever we need the double quotes inside a string we declare the string with tripple quotes

In [14]:
my_string1 = '''Sam says "hi everyone"'''

<hr style="height:2px;">

## 4) Type Casting
<br>

**Type casting is the precess of converting one datatype to another datatype.**

Lets try to build an application which takes input from the user and return the ```number entered + 10```

In [8]:
a = input("enter the number : ")
print(a+10)

enter the number : 20

TypeError: can only concatenate str (not "int") to str

We get a type Error. Which says we cannot add Integer datatype with a string datatype.<br>
Remember when we learned the input() fucntion we saw how all things enetered by a keyboard including numbers and symbols are strings by default.<br>
So we need to Type cast the string representaion of number back to integer to do a arithmatic operation.

In [11]:
a = input("enter the number : ")
a_int = int(a)
print(a_int+10)

enter the number : 20
30

We can convert any datatype to any other datatype provided that it justifies this operation. <br>
when we convert a float to an int something called as truncation happens. This is different that rounding off as the numbers after the decimal point are simply removed.

In [2]:
a = 12.12
print(type(a))
b = int(a)
print(type(b))
print(b)

<class 'float'>
<class 'int'>
12

<hr style="height:2px;">

## 5) Lists
<img src="images/list1.jpg" alt="Drawing" style="width: 450px;" align="center"/>

### Difference between list and array
<img src="images/list2.jpg" alt="Drawing" style="width: 700px;" align="center"/>

Lists are constructed with brackets `[ ]` and commas separating every element in the list.

In [2]:
# Assign a list to an variable named my_list
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [3]:
my_list = ['A string',23,100.232,'o']
print(my_list)

['A string', 23, 100.232, 'o']

Lists can hold any object in python. Including another list.
<br>
Such a list can also be called a multi-dimensional list

In [4]:
my_list = [[1,2,3],[4,5,6],[7,8,9]]
print(my_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

<hr style="height:2px;">

## 6) Indexing and Slicing
- Indexing referrs to accessing individual elements on a collection datatype
- Slicing referrs to accessing a group of elements from the collection datatype

### Indexing

In [11]:
my_list = [11,22,33,44,55,66]
my_list[3]

44

**The Index number of elements starts from 0** <br><br>

```
list elements : 11 22 33 44 55 66
index numbers :  0  1  2  3  4  5
```

**The Indexing can also be applied to string**

In [12]:
x = "hello"
x[4]

'o'

The examples we saw was of single dimensional indexing. We can also do indexing on multi-dimensional objects to access elements

In [13]:
my_list = [[1,2,3],[4,5,6],[7,8,9]]
my_list[1]

[4, 5, 6]

As we can see indexing a multi dimensional object with single index return the entire list itself. <br>We can use an additional index parameter to access individual element

In [14]:
my_list = [[1,2,3],[4,5,6],[7,8,9]]
my_list[1][1]

5

In [15]:
my_list = [[1,2,3],'hello',[7,8,9]]
my_list[1][3]

'l'

#### After indexing we can replace the selcted item with the item of our choice.

In [1]:
x = [10,20,30,40,50,60,70]
print(x)
x[1] = 2000
print(x)

[10, 20, 30, 40, 50, 60, 70]
[10, 2000, 30, 40, 50, 60, 70]

In the above example we slected the 2nd item in the list using indexing and replaced that item with 2000

**NOTE: A string inside a list also acts like a muti-dimensional object**

<hr style="height:2px;">

### Home Work

1. create a basic calculator
    - Take 2 numbers from the user (using input statement)
    - Print out the addition and multiplication of those 2 numbers

---

2. Try to grab the number 400 using list 
```python
my_list = [[1,2,3],'hello',[7,8,[100,200,300,400]]]
```

<br>
3. Try to grab the word 'own' from the below string
```python
my_str = "ON my own technology"
```
<br>
4. Replace the 3th item in the list with the string "OMOTEC"
```python
my_lst = ["welcome", "to", "on my own technology"]
```
5. Try to grab the word 'OMOTEC' from the list 
```python
my_list = [[1,2,3],'hello',[7,8,[100,200,"OMOTEC",400]]]
```
<br>
5. Try to grab the word 'C' from the list below
```python
my_list = ['O','M','O','T','E','C',]
```

6.Find the position of 55 from list using index
```python
fruits = [22,33,42,55,61]
```

7.Find the position of bat
```
list2 = ['cat', 'bat', 'mat', 'cat', 'pet']
```

8.Use the step parameter to return every third item using the slice:
```
a = ("a", "b", "c", "d", "e", "f", "g", "h")
```
9.Start the slice object at position 3, and slice to position 5, and return the result:
```
a = ("s","e","n","t","e","n","c","e")
```