# Solutions for session 8

#### Task 3
Reverse the tuple(Hint:use slicing.)

In [10]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

#### Task 4
Count the number of occurrences of item 50 from the given tuple.
```
tuple1 = (50, 10, 60, 70, 50)
```

In [11]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

#### Task 5
Access value 20 from the given tuple.
````
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25)) (Hint:use indexing)
````

In [12]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

# understand indexing
# tuple1[0] = 'Orange'
# tuple1[1] = [10, 20, 30]
# list1[1][1] = 20

print(tuple1[1][1])

20

#### Task 6
Create a tuple with single item 80

In [13]:
tuple1= (80, )
print(tuple1)

(80,)

#### Task 7
Write a Python program to iterate over dictionaries using for loops for the given dictionary.

d = {'x': 10, 'y': 20, 'z': 30}

In [14]:
d = {'x': 10, 'y': 20, 'z': 30} 
for dict_key, dict_value in d.items():
    print(dict_key,'->',dict_value)

x -> 10
y -> 20
z -> 30

#### TASK 8
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the 
values are square of keys

In [15]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

#### Task 9
Write a Python program to check a dictionary is empty or not.(Hint: use boolean)

In [16]:
my_dict = {}

if not bool(my_dict):
    print("Dictionary is empty")

Dictionary is empty

#### Task 10
Create a dictionary by extracting the keys from the given dictionary.

sampleDict = {"name": "Kelly","age":25,"salary": 8000,"city": "New york" }

In [17]:
my_dict = {'name':'Kelly','age':'25','salary':'8000','city':'New york'}

for i in my_dict:
    print(i)

name
age
salary
city

#### Task 11
Write a program to rename a key city to a location in the following dictionary.

sample_dict = {"name": "Kelly","age":25,"salary": 8000,"city": "New york"}

In [18]:
dictionary = {"name":"Kelly", "age":25, "salary":8000}

dictionary["last_name"] = dictionary.pop("name")

print(dictionary)

{'age': 25, 'salary': 8000, 'last_name': 'Kelly'}